<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dai.wms.mapper.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dai.wms.entity.Customer">
        <id column="customer_id" property="customerId" />
        <result column="customer_name" property="customerName" />
        <result column="contact_phone" property="contactPhone" />
        <result column="contact_address" property="contactAddress" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        customer_id, customer_name, contact_phone, contact_address
    </sql>

</mapper>
