<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dai.wms.mapper.DeliveryOrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dai.wms.entity.DeliveryOrderItem">
        <id column="delivery_item_id" property="deliveryItemId" />
        <result column="delivery_id" property="deliveryId" />
        <result column="product_id" property="productId" />
        <result column="quantity" property="quantity" />
        <result column="shipped_quantity" property="shippedQuantity" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        delivery_item_id, delivery_id, product_id, quantity, shipped_quantity
    </sql>

</mapper>
