<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dai.wms.mapper.SalesOrderItemMapper">

    <resultMap id="BaseResultMap" type="com.dai.wms.entity.SalesOrderItem">
        <id column="sales_item_id" property="salesItemId" />
        <result column="sales_order_id" property="salesOrderId" />
        <result column="product_id" property="productId" />
        <result column="product_name" property="productName" />
        <result column="specifications" property="specifications" />
        <result column="quantity" property="quantity" />
        <result column="sale_price" property="salePrice" />
    </resultMap>

    <select id="selectSalesOrderItemsWithProductName" resultMap="BaseResultMap">
        SELECT
            soi.sales_item_id,
            soi.sales_order_id,
            soi.product_id,
            p.product_name,
            soi.quantity,
            soi.sale_price
        FROM
            sales_order_item soi
                JOIN
            product p ON soi.product_id = p.product_id
        WHERE
            soi.sales_order_id = #{salesOrderId}
    </select>

    <select id="selectSalesOrderItemsWithProductInfo" resultMap="BaseResultMap">
        SELECT
            soi.sales_item_id,
            soi.sales_order_id,
            soi.product_id,
            p.product_name,
            p.specifications,
            soi.quantity,
            soi.sale_price
        FROM
            sales_order_item soi
                JOIN
            product p ON soi.product_id = p.product_id
        WHERE
            soi.sales_order_id = #{salesOrderId}
    </select>

    <insert id="insert" parameterType="com.dai.wms.entity.SalesOrderItem" useGeneratedKeys="true" keyProperty="salesItemId">
        insert into sales_order_item (sales_order_id, product_id, quantity, sale_price)
        values (#{salesOrderId}, #{productId}, #{quantity}, #{salePrice})
    </insert>

</mapper>