<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dai.wms.mapper.StockInItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dai.wms.entity.StockInItem">
        <id column="stock_in_item_id" property="stockInItemId" />
        <result column="stock_in_id" property="stockInId" />
        <result column="product_id" property="productId" />
        <result column="quantity" property="quantity" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        stock_in_item_id, stock_in_id, product_id, quantity
    </sql>

</mapper>
